@font-face {
  font-family: 'open-sans';
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'ubuntu';
  src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
  font-family: 'cm-serif';
  src: url('../fonts/computer-modern/cmunrm.ttf');
}

body {
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  justify-content: center;
  background-color: #EDEDF0;
  min-height: 100vh;
}

.a4, .pdf {
  box-sizing: border-box;
  background-color: white;
  padding: 5mm 20mm;
  --top-marg: 17mm;
  padding: var(--top-marg) calc(var(--top-marg) * 1.4142);
  /* box-shadow: 0 0 15px #9B9B9B; */
}

.a4 {
  width: 210mm; /*297mm height*/
}

.pdf {
  width: 8.50in;
  height: 1122px;
}

.cv {
  font-family: ubuntu, sans-serif;
  font-family: cm-serif, serif;
}

h1 {
  font-size: 33px;
  font-size: 28px;
  font-size: 27px;
  text-align: center;
  /* margin: 0; */
}

h2 {
  font-size: 22px;
  margin: 17px 0 10px;
  border-bottom: 1px solid black;
}

h3 {
  margin: 10px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: open-sans, sans-serif;
  font-family: cm-serif, serif;
}

/* #personal-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#personal-data>p {
  margin-top: 0;
}
#personal-data>:last-child {
  grid-column: 2 / -1;
} */

#work-xp {
  display: grid;
  grid-template-columns: auto auto;
}
#work-xp>h3 {
  font-size: 15px;
  margin: 0;
  border-right: 2px solid black;
  padding-top: 16px;
  padding-right: 10px;
}
#work-xp>p {
  padding-left: 14px;
}

#programming-skills {
  display: grid;
  grid-template-columns: auto 1fr;
}
#programming-skills>.whole-row {
  grid-column: 1 / -1;
}
#programming-skills>h3 {
  font-size: 17px;
}
#programming-skills>h3::after {
  content: ":";
  margin-right: 0.5em;
}
#programming-skills>:not(h3) {
  align-self: center;
  justify-self: left;
  margin-left: 35px;
}

a {
  text-decoration: none;
}

.comma-list {
  list-style-type: none;
  padding: 2px 0 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.comma-list>li {
  white-space: nowrap;
}
.comma-list>li::after {
  content: ",";
  /* margin-right: 0.25em; closest to normal space */
  margin-right: 0.5em;
}
.comma-list>li:last-child::after {
  content: "";
  margin: 0;
}
.capitalize-children>*:first-child::first-letter {
  text-transform: capitalize;
}